@mixin textStyle($Color,$bgColor,$border,$padding) {
    color : $Color;
    background-color: $bgColor;
    border-radius: $border;
    padding: $padding;
}

@mixin fontSize($fontSize,$fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}


// class-Mathematical 

@mixin hoverEffect($bgColor,$colorText) {
    //sudo class
    &:hover{
        background-color:$bgColor ;
        cursor: pointer;
        color :$colorText ;
    }
}

@mixin query($Width){
    // Conditional commands
    @if($Width == 400){
        @media (max-width : 400px) {
            // content
            @content;
        }
        // Conditional commands
    }@else if($Width == 600){
        @media (max-width : 600px) {
            // content
            @content;
        }
        // Conditional commands
    }@else{
        @media (min-width : 950px) {
            // content
            @content;
        }
    }
    
}

//for
@for $item from 1 through 5{
    .content-#{$item}{
        color: white;
        background-color: rgb(48, 9, 192);
        height: 20px * $item;
    }
}


//while

$item : 5;

@while ($item > 0) {
    .content-#{$item}{
        color: white;
        background-color: rgb(48, 9, 192);
        height: 20px * $item;
    }
    $item : $item - 1
}



